<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link href="/main.css" rel="stylesheet" />
  </head>
  <body class="grey-bg">
    <%- include('nav.ejs') %>
    <form class="form-box" action="/login" method="POST">
        <h4>mypage~~~~~~~~~~~~~~~~</h4>
    </form>      
    </div>
  </body>
</html>
